html{
    min-height: 100vh;
    font-family: sans-serif;
}

main{
    margin: 0 20%;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-bottom: 3px green solid;
}
input{
    background-color: rgb(239, 239, 239);
    border: none;
    padding: 5px 10px;
}
select{
    background-color: rgb(239, 239, 239);
    border: none;
    padding: 5px 10px;
    margin-bottom: 30px;
}
button{
    background-color: rgb(176, 255, 176);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
button:hover{
    filter: brightness(80%);
    cursor: pointer;
}
button:active{
    filter: brightness(105%);
}